<!DOCTYPE html>
<html lang="en">
<%- include('./patials/head.ejs')%>
<body>
<div class="container-fluid" >
<%- include('./patials/nav.ejs')%>
<a href="index.html"></a>
<h1>About us</h1>
<h2>My first Node class i think its working</h2>
<%- include('./patials/footer.ejs')%>
</div>
</body>
</html>